@tailwind base;
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

body {
  background-color: #1e1e1e;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 24px;
}

@tailwind components;
@tailwind utilities;
