@tailwind base;
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind components;
@tailwind utilities;

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}
@keyframes pulse {
  50% {
    background: white;
  }
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
